<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue基础使用</title>
</head>

<body>
  <div id="app">
    <fieldset>
      <legend>插值表达式</legend>
      <h3>{{msg}}</h3>
      <h3>{{age}}</h3>
      <div v-text="msg"></div>

      <div>
        描述：<input type="text" v-model="msg" />
        年龄：<input type="text" v-model="age" />
      </div>
    </fieldset>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        msg: "hello world",
        age: 20
      }
    })

  </script>
</body>

</html>
